.register_component{
  background-image: url("../imgs/background_login.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.form_register{
  height: 20vh;
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  position: relative;
  top: 20% !important;
  box-sizing: border-box;
}